# Post-Quantum / Kuantum Kriptografi
pqcrypto>=0.3.1            # 0.3.x sürümleri PyPI'de mevcut :contentReference[oaicite:1]{index=1}

# GUI
PyQt5>=5.15.9

# Grafik ve Veri Analizi
matplotlib>=3.8.0
seaborn>=0.12.3
pandas>=2.1.1

# Blockchain / Transaction Simülasyonu
web3>=6.9.0
eth-keys>=0.4.0
eth-account>=0.7.0

# Yardımcı Kitaplıklar
numpy>=1.26.0
mnemonic>=0.21.0
ecdsa>=0.18.0
